body{
	overflow:auto;
}
	
.hidden, .matchid, #newsframe{
    position:absolute;
    left:-100000px;
}

.shown{
    position:relative;
    left:0px;
}

a, a:visited{
    color:black;
    text-decoration:none;
}

.date:before{
    content:" le ";
}
.time:before{
    content:" à ";
}

.tier1, .tier2, .tier3{
    float : left;
    width:200px;
    text-align : center;
}
.pronosLabels{
    font-weight : bold;
}
.pronosLabels+.tier1, #pronoMatch{
    clear:both;
}

nav{
	float:left;
	cursor:pointer;
	width:240px;
}

nav ul{
	list-style-image: url("/img/puceTurquoise.JPG");
}
nav ul ul{
	list-style-image: url("/img/puceVerte.JPG");
}

#rules ul{
	list-style-image: url("/img/puceOrange.JPG");
}

li.match{
	list-style-image: url("/img/puceNoire.JPG");
	cursor:pointer;
}

li.match.A+li.match.B, li.match.B+li.match.C, li.match.C+li.match.D, li.match.D+li.match.quarter, li.match.quarter+li.match.semi, li.match.semi+li.match.final {
    margin-top:10px;
}

li.match.quarter, li.match.semi, li.match.final{
	list-style-image: url("/img/puceOrange.JPG");
	cursor:pointer;
}

#main{
	float:left;
	min-height:600px;
	padding:20px;
}

#eventsContainer{
	float:right;
	max-width:280px;
	border:1px solid turquoise;
	-webkit-box-shadow: 10px 10px 5px lightgray;
	box-shadow: 10px 10px 5px lightgray;
}

#eventsContainer .event{
	border-bottom:1px solid lightgray;
	background: url("/img/puceGris.JPG") no-repeat;
	padding-left:20px;
}

footer{
	clear:both;
	float:right;
}

table{
	text-align:center;
}

#mypronos .mise1, #mypronos .miseN, #mypronos .mise2{
	width:25px;
}

#mypronos .score, #mypronos .pronoCards{
	width:70px;
}

#mypronos .miseMatch, #mypronos .miseCards{
	width:40px;
}

#mypronos .match{
	width:200px;
}

#rankings tr:first-child{
	background-color:orange;
	font-weight:bold;
}

#rankings .username{
	width:500px;
	font-style:italic
}

#rankings .capital{
	width:100px;
}

#posts div, textarea{
	width:100%;
}
#posts .author{
	padding-left:20px;
	background: url("/img/puceRouge.JPG") no-repeat;
}
#posts .post{
	margin:5px 0;
	padding:5px;
	border:1px solid red;
	border-top-left-radius:20px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:20px;
}

#drapeau{
    border: 1px solid black;
    position:absolute;
    right:10px;
    top:10px;
}