.hidden, .matchid{
    position:absolute;
    left:-100000px;
}

.shown{
    position:relative;
    left:0px;
}

footer a{
    text-decoration:none;
}

.date:before{
    content:" le ";
}
.time:before{
    content:" à ";
}

.tier1, .tier2, .tier3{
    float : left;
    text-align : center;
}

.tier1, .tier3{
    width : 280px;
}

.pronosLabels{
    font-weight : bold;
}
.pronosLabels+.tier1, #pronoMatch{
    clear:both;
}