.hidden{
    position:absolute;
    left:-100000px;
}

.shown{
    position:relative;
    left:0px;
}

footer a{
    text-decoration:none;
}

.date:before{
    content:" le ";
}
.time:before{
    content:" à ";
}