!!! 5
html
  head
    title Pronos Euro 2012
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    meta(name="google-site-verification" content="euVjODQ0DtUfwtjy_UNtgGlzRw452j1nWCQVbjJCGTw")
    include pronos.js
    include pronos.css
  body
    h1 mongoose-auth Example
    #main
      != body
