<!DOCTYPE html>
<html>
  <head>
    <title>Pronostics Euro 2012</title>
    <link href="pronos.css"/>
    <script src="pronos.js"></script>
  </head>
  <body>
    <header>
      <img src="img/header.jpg"/>
    </header>
    <nav>
      <ul>
	<li>
	  Accueil
	</li>
	<li>
	  Pronostics
	</li>
	<li>
	  Calendrier de la compétition
	  <ul>
	    <li>
	      Calendrier
	    </li>
	    <li>
	      Les Groupes
	    </li>
	  </ul>
	</li>
	<li>
	  Mon Compte
	  <ul>
	    <li>
	      Profil
	    </li>
	    <li>
	      Messagerie
	    </li>
	  </ul>
	</li>
	<li>
	  Les Nouvelles
	</li>
      </ul>
    </nav>
    <div id="main">
    </div>
    <div id="rightpanel">
    </div>
    <section id="news">
      http://fr.uefa.com/rssfeed/news/rss.xml
    </section>
    <footer>
      <a href="http://dev.w3.org/html5/spec/">
	<img src="img/html5.jpg" height="24px" />
      </a>
      <a href="http://nodejs.org/">
	<img src="img/nodejs.jpg" height="24px" />
      </a>
      <a href="http://nodester.com/">
	<img src="img/nodester.png" height="24px" />
      </a>
      <a href="http://www.mongodb.org/">
	<img src="img/mongodb.jpg" height="24px" />
      </a>
      <a href="https://mongolab.com/home">
	<img src="img/mongolab.png" height="24px" />
      </a>
    </footer>
  </body>
</html>
